
<p>Register your movie below:</p>

<form action="Result2" method="get">

    <p>ID</p>
    <input type="number" maxlength="2" name="ID" />

    <p>Title</p>
    <input type="text" name="Title" />

    <p>Genre</p>
    <input type="radio" value ="text" name="Genre" />

    <p>Year</p>
    <input type="date" name="Year" />

    <p>Actors</p>
    <input type="text" name="Actors" />

    <p>Directors</p>
    <input type="text" name="Directors" />

    <input type="submit" name="Register your movie!"/>

</form>

